POSTGRES_USER=cliniccare
POSTGRES_PASSWORD=*******
POSTGRES_DB=cliniccare
DATABASE_URL="postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
CORS_ORIGINS=http://localhost:3000
JWT_SECRET_KEY=changeme
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7
